*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Background */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#f1eeee, #2f6caa);
   
    
}

.header {
    background-image: url('https://images.pexels.com/photos/1148820/pexels-photo-1148820.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    height: 300px; /* Määritä headerin korkeus tarpeen mukaan */
    color: white; /* Varmista, että tekstin väri on selvästi näkyvä taustakuvaan nähden */
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: center;
}

.header h1 {
    margin: 0;
    padding: 20px;
}

/* Navbar */
.navbar {
    background-color: #343a40;
    width: 100%;
    margin-bottom: 20px; /* Pienennetty marginaalia */
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #fff;
}

.navbar-brand:hover,
.navbar-brand:focus,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: #f8f9fa;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

/* Main Sections */
section {
    padding: 20px 0;

}

/* Form */
form {
    margin: 20px auto;
    max-width: 500px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form h2 {
    margin-bottom: 20px;
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 10px;
}

/* Rajoitetaan sähköposti- ja viestikentän leveys */
form input[type="email"],
form textarea {
    width: 100%;
    max-width: 100%; /* Lisätty rajoitus */
}

form textarea {
    height: 150px;
}

form button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}

/* Footer */
footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin-bottom: 0;
}

#btn-back-to-top {
    position: fixed; /* Muutettu 'relative' -> 'fixed' */
    bottom: 20px; /* Muutettu '50px' -> '20px' */
    right: 20px;
    display: none;
    z-index: 999; /* Lisätty z-indeksi */
}
