/* Reset */


.navbar.fixed-top {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

@media (max-width: 991.98px) {
    .navbar.fixed-top {
        position: sticky;
    }
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url('/kuvat/MiningRig.jpg');
    background-size: cover;
    height: 100vh; /* Käytä koko ikkunan korkeutta */
}

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
}

/* Header */
header {
    
    color: #333;
    padding: 20px 0;
}

header h1 {
    margin-bottom: 10px;
}

/* Navigation */
.navbar {
    background-color: #343a40;
}

.navbar-brand {
    color: #fff;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: #fff;
}

.navbar-nav .nav-item {
    margin-right: 20px; /* increased from 10px to 20px */
}

.navbar-nav .nav-link {
    color: #fff;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: #f8f9fa;
}

/* Main Sections */
section {
    padding: 20px 0;
}

/* Form */
form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form textarea {
    height: 150px;
}

form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

/* Footer */
footer {
    
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin-bottom: 0;
}
